.top-left {
  top: 0;
  left: 0;
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-right {
  bottom: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.Avava-SP__Wrapper {
  width: 320px;
  position: fixed;
  margin: 1rem;
  z-index: 99;
  color: #333;
}

.Avava-SP__Wrapper .Avava-SP__LinkWrapper {
  color: #333;
}
@media screen and (max-width: 575px) {
  .Avava-SP__Wrapper {
    left: 15px;
  }
}
.Avava-SP__Wrapper img {
  max-width: 135px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -100px;
  left: -10px;
  text-align: center;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.Avava-SP__Wrapper .Avava-SP__Inner {
  position: relative;
}
.Avava-SP__Wrapper .Avava-SP__Inner:hover img {
  opacity: 1;
  visibility: visible;
  top: -120px;
}
.Avava-SP__Wrapper .Avava-SP__Container {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 0 5px rgba(5, 5, 5, 0.07);
  -moz-box-shadow: 3px 0 5px rgba(5, 5, 5, 0.07);
  box-shadow: 3px 0 5px rgba(5, 5, 5, 0.07);
  background: #ffffff;
  padding: 5px;
}
.Avava-SP__Wrapper .Avava-SP__Image {
  height: 75px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #43495a;
  font-size: 55px;
  width: 65px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  font-weight: bold;
  line-height: 69px;
  background-size: cover;
  background-position: center;
}
.Avava-SP__Wrapper .Avada-SP__Content {
  display: inline-block;
  width: calc(100% - 75px);
  width: -moz-calc(100% - 75px);
  width: -webkit-calc(100% - 75px);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
.Avava-SP__Wrapper .Avada-SP__Content .Avada-SP__Title {
  font-size: 12px;
  margin-bottom: 0;
}
.Avava-SP__Wrapper .Avada-SP__Content .Avada-SP__Subtitle {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: bold;
}
.Avava-SP__Wrapper .Avada-SP__Content .Avada-SP__Footer {
  font-size: 12px;
  line-height: 16px;
  margin-top: 5px;
}
.Avava-SP__Wrapper .Avada-SP__Content .uni-blue {
  color: #2196f3;
  margin-left: 8px;
  padding-left: 8px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.uni-blue {
  display: flex;
  float: right;
  align-items: center;
  svg {
    margin-right: 5px;
  }
  svg path {
    fill: #2196f3;
  }
  .Polaris-Icon {
    display: inline-block;
    margin: 0;
  }
}
.animated {
  opacity: 0;
  transform: scale(0);
  transition: transform 0.5s ease;
}
.fadeInUp {
  opacity: 1;
  transform: scale(1);
}

#Avada-SalePop.Avada-close {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  background-color: #43495a;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
